@import 'bulma/sass/utilities/initial-variables.sass';

// your customization as described in the Bulma docs
$navbar-background-color: #1976D2;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$alternate-text-color: white;

$break-medium: 750px;

@import 'bulma';
@import '~bulma-switch';


// Header
.header {
    grid-area: header;
}

// Throwing Style
.throwingStyle {
    margin-top: 10px;
    grid-column: 1 / span 1;
    grid-row: 3;
}

// Dislplay Options Style
.displayOptions {
    margin-top: 10px;
    grid-column: 2 / span 1;
    grid-row: 3;
}

// Disc Selector Style
.discSelectorStyle {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: 10px;
  };

  //Flight Path
  .flightPathContainer {
    margin-top: 10px;
    grid-area: flightpath;
    max-height: 600px;
    @media (max-width : $break-medium) {
      padding-top: 5px;
      min-height: 100vh;
      padding-bottom: 56px;
    };
  }

  // Welcome Message
  .getStartedButtonContainer {
    display: none;
    @media (max-width : $break-medium) {
      display: 'inline',
    };
  }
  .welcomeMessage  {
    grid-area: welcomemessage;
    text-align: center;
    color: $alternate-text-color;
    @media (max-width : $break-medium) {
      min-height: 100vh;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: 1;
    };
  };