@import 'bulma/sass/utilities/initial-variables.sass';

// your customization as described in the Bulma docs

@import 'bulma/bulma.sass';


// Throwing Style
.throwingStyle {
    margin-top: 10px;
    grid-column: 1 / span 1;
    grid-row: 3;
}

// Dislplay Options Style
.displayOptions {
    margin-top: 10px;
    grid-column: 2 / span 1;
    grid-row: 3;
}

// Disc Selector Style
.discSelectorStyle {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: 10px;
  };